
:root {
    --content: #1816c2;
    
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }



  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    width: 96%;
    margin: 2rem auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .justify-center {
    justify-content: center;
  }
  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

@media screen and (min-width: 768px) {
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  @media screen and (min-width: 992px) {
    
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
  .code-card pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--content);
    border-radius: 8px;
    background-image: linear-gradient(
      rgba(232, 102, 236, 0.3) 0%,
      rgba(211, 236, 102, 0.6) 100%
    );
    display: flex;
    align-items: center;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }